.place-grid__image {
  grid-area: place-grid__image;
  max-width: 460px;
}
@media screen and (max-width: 1079px) {
    .place-grid__image {
        max-width: 440px;
      }
}
@media screen and (max-width: 1023px) {
    .place-grid__image {
        max-width: 340px;
      }
}
@media screen and (max-width: 767px) {
    .place-grid__image {
        max-height: 320px;
        max-width: 320px;
        justify-self: center;
        width: 100%;
      }
}
@media screen and (max-width: 319px) {
    .place-grid__image {
        width: 100%;
      }
}