.place-grid__website {
  grid-area: place-grid__website;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media screen and (max-width: 976px) {
    .place-grid__website {
        max-width: 352px;
      }
}
@media screen and (max-width: 352px) {
  .place-grid__website {
      margin: 0 16px;
    }
}